.country-card {
    text-align: left;
    overflow: hidden !important;
    margin-top: 5px !important;
  }
  
  .add-country-button {
    background-color: #e68b24 !important;
    /* border-radius: 0 !important; */
    width: 100% !important;
    margin-right: 0 !important;
  }

  .close-sidebar-button {
    /* border-radius: 0 !important; */
    width: 100% !important;
  }
  
  .add-to-wish-list {
    background-color: #616ae7 !important;
    /* border-radius: 0 !important; */
  }

  .side-panel-accordion {
      transition: 2s !important;
  }

  .stats-sidebar {
    height: 80%;
    width: 40%;
    background-color: white;
    transition: 1.0s;
    position: fixed;
    right: 0;
    top: 130px;
    z-index: 20;
    overflow-y: scroll;
    background-color: gray;
    border-style: solid;
    border-color: gray;
  }
  
  .sidebar-hidden {
    /* height: 0; */
    width: 0;
    /* transition: 1.0s; */
    position: sticky;
    right: -20%;
    top: 130px;
    z-index: 20;
    visibility: hidden;
  }

  .flag {
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    height: 200px;
  }

  .country-card-header {
    width: 100%;
  }