.profile-container {
    position: relative;
    top: 20px;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* overflow-y: scroll; */
    height: 80%;
}

.countries-container {
    display: flex;
    flex-direction: column;
}

.profile-world-card {
    padding-top: 0 !important;
    width: fit-content;
}

#chartdiv {
    height: fit-content !important;
}

.sc-bdVaJa {
    margin-top: 0 !important;
}

.user-details {
    text-align: left;
    padding-left: 5px;
    margin-bottom: 20px;
}

.country-flag {
    max-height: 20px;
}

/* .leaderboard {
    margin-top: 35px;
} */


.leaderboard-item {
    width: 100%;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.leaderboard-profile-image {
    border-radius: 50%;
    height: 30px;
    position: relative;
    top: 5px;
}

.username {
    position: relative;
    top: 5px;
    left: 35px;
}

.ranking-score {
    float: right;
    margin-top: 10px;
    margin-right: 8%;
}

.ranking-score-heading {
    float: right;
    margin-top: 5px;
}

.username-heading {
    position: relative;
    top: 5px;
    left: 65px;
}

.break {
    width: 70%;
}

.profile-row-item {
    margin: 1%;
}
.profile-row-item-column {
    margin: 1%;
}



.profile-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.profile-continent {
    margin: 1%;
    /* min-height: 100%; */
    /* flex-basis: auto; */
}





@media only screen and (min-width: 1200px) {
    .banner-container{
        display: flex;
        flex-direction: column;}

    .adBanner {
        position: relative;
        left: -10%;
    }
    .banner-ad1:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }
    
    .banner-ad1 {
        max-height: 600px;
        max-width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }

    .banner-ad2:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }
    
    .banner-ad2 {
        max-height: 600px;
        max-width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }

    .profile-row-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: auto;
        justify-content: center;
        width: 80%;
        /* max-width: 1200px; */
        max-height: 60%;
        /* overflow-x: scroll ; */
     
    }
  }

  @media only screen and (max-width: 1200px) {
    .adBanner{
        visibility: hidden;
        position: absolute;
        left: -100%;
        transition: 0.5s
    }

    .banner-container{
        display: flex;
        flex-direction: column;}

    .banner-ad1:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }
    
    .banner-ad1 {
        max-height: 600px;
        max-width: 220px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }
    .banner-ad2:hover {
        box-shadow: 0 4px 8px 0 rgba(39, 38, 38, 0.6);
    }
    
    .banner-ad2 {
        max-height: 600px;
        max-width: 220px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }

    .profile-row-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: auto;
        justify-content: center;
        /* width: 80%; */
        /* max-width: 1200px; */
        /* max-height: 60%; */
        /* overflow-x: scroll ; */
     
    }
  }

  @media only screen and (min-width: 1600px) {
    .banner-container{
        display: flex;
        flex-direction: column;}

    .adBanner {
        position: fixed;
        left: 1%;
        transition: 0.5s

    }
    .banner-ad1:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }
    
    .banner-ad1 {
        max-width: 350px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }

    .banner-ad2:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }
    
    .banner-ad2 {
        max-height: 600px;
        max-width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }
  }

  @media only screen and (min-width: 1800px) {
    .banner-container{
        display: flex;
        flex-direction: row;}

    .adBanner {
        position: fixed;
        left: 1%;
        transition: 0.5s

    }
    .banner-ad1:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }
    
    .banner-ad1 {
        max-width: 350px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .banner-ad2:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    }
    
    .banner-ad2 {
        max-height: 600px;
        max-width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin-bottom: 10px;
    }
  }