
body {
  overflow-y: scroll;
  background-color: #c4c4c4;
  height: 100%;

}
.site {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* max-width: 1200px; */
  justify-content: center;
  background-color: azure;
  overflow: hidden;
  /* overflow: scroll; */

}

html {
  height: 100%;
}

.hide-map-popup-country-name {
  visibility: hidden;
}

path {
  fill: #4953da;
  cursor: pointer;
  outline: none
}

.site-body {
  margin-top: 110px;
  min-height: 89vh;
}

.footer {
  min-height: 100px;
  background-color: #282c34;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.home-page-title {
  position: relative;
  top: 20px;
  
}

.home-page-map {
  background-color: azure;
  width: 100%;
  transition: 1.0s;
  
}

.home-page-map-with-stats {
  background-color: azure;
  width: 100%;
  transition: 1.0s;
  z-index: 50;
}

.hidden {
  visibility: hidden;
}
/* 
.user-link {
  padding-left: 2%;
  position: absolute;
  top: 40%;
  left: 2%;
  text-decoration: none;
  color: white;
} */

.user-link:hover {
  color: #e68b24
}

.home-page-container {
  width: 100%;
  /* color: white; */
}

.App {
  min-width: 100%;
  max-width: 1400px;
  background-image: url('https://texturify.com/content/10778/Sky%20Background5.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.show-map-popup-country-name {
  background-color: white;
  border-style: solid;
  border-color: grey;
  font-size: medium;
  border-radius: 3px;
  padding: 5px;
}



