.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-logo {
  width: 30%;
}

.App-link {
  color: #09d3ac;
}

.hide-map-popup-country-name {
  visibility: hidden;
}

path {
  fill: #4953da;
  cursor: pointer;
  outline: none
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #282c34;
  position: fixed;
  top: 0;
  z-index: 1000;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: cursive !important;
}

.site{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.site-body {
  position: relative;
  top: 80px;
}
